*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background-color: #0f172a;
    color: #b8c3d0;
}

main {
    width: 80rem;
    margin: 0 auto;
    padding: 6rem;
}

.half {
    width: 33rem;
    margin-right: 1rem;
}

#left {
    padding: 0 6rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

#socials {
    bottom: 0;
}

.social {
    display: inline-block;
}

.social img {
    width: 1.5rem;
    height: 1.5rem;
}

.hidden {
    display: none;
}

#light {
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 70%;
    pointer-events: none;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(173, 216, 230, 0.3) 0%, rgba(173, 216, 230, 0.1) 50%, rgba(15, 23, 42, 0) 80%, rgba(15, 23, 42, 0) 100%);
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
    transition: all 0.1s ease-out;
    filter: blur(1.5rem);
}